body {
  background-color: rgb(0,0,0);
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  color: "white";
}
p {
  color: "white";
}
li {
  color: "white";
}
html, body {
  height: 35;
  margin: 0;
}

div.round {
  width: 90%;
  padding: 10px;
  height: 100px;
  background: #2F4F4F;
  border-top-right-radius:30;
  border-top-left-radius:30;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
