body {
  background-color: rgb(0,0,0);
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  color: "white";
}
p {
  color: "white";
}
li {
  color: "white";
}
html, body {
  height: 35;
  margin: 0;
}

.full-height {
  width: 100%;
  padding: 10px;
  height: 100px;
  background: #2F4F4F;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
