body {
  background-image: url(https://image.freepik.com/free-photo/cardboard-wallpaper-template_1194-6785.jpg);
  background-attachment: fixed;
}
h1 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
